body {
    text-align: center;
    background-color: #ffffff;
}

img {
    width: 70px;
    height: 70px;
}

p {
    font-size: 25px;
}

#container_main {
    width: 448px;
    height: 500px;
    padding: 20px;
    border: 1px solid #dadce0;
    display: inline-block;
    border-radius: 10px;
    margin: 50px;
}

input {
    width: 408px;
    height: 50px;
    margin: 5px;
    padding-left: 15px;
    outline: none;
    border-radius: 5px;
    border: .5px solid #dadce0;
}

.btnLogin,
.btnCreate,
#btnForgot {
    border: 0px;
    display: inline;
}

.btnLogin {
    width: 180px;
    color: #ffffff;
    background-color: #1a73e8;
    float: right;
    outline: none;
    margin-right: 14px;
    border: 1px solid #1a73e8;
}


#btnForgot {
    width: 100px;
    float: left;
    color: #1a73e8;
    background-color: #ffffff;
    outline: none;
    padding-left: 0px;
    margin-left: 12px;
}

#sub_con {
    margin-top: 100px;
}

a {
    color: inherit;
    text-decoration: inherit;
    font-family: "Stardos Stencil", serif;
}