<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Stardos+Stencil" />
    <link rel="stylesheet" type="text/css" href="./css/login.css" />
</head>

<body>
<div id="container_main">
    <img src="./img/login-page-icon.png"  alt=""/>
    <a href="..">
        <p>Minor Project</p>
    </a>
    <input id="email" type="text" placeholder="enter email" />
    <br />
    <input id="password" type="password" placeholder="enter password" />
    <br />
    <div id="sub_con">
        <input id="btnForgot" type="submit" value="forgot password" />
        <input class="btnLogin" id="btnLogin" type="submit" value="LogIn" onclick="login()" />
    </div>
</div>

<script src="./js/login.js"></script>

</body>

</html>